<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.pantrypal">

    <!-- 🌐 Internet -->
    <uses-permission android:name="android.permission.INTERNET" />

    <!-- 📷 Camera -->
    <uses-permission android:name="android.permission.CAMERA" />

    <!-- 🔧 FIX WARNING (VERY IMPORTANT) -->
    <uses-feature
        android:name="android.hardware.camera"
        android:required="false" />

    <!-- 🔔 Notifications -->
    <uses-permission android:name="android.permission.POST_NOTIFICATIONS" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.PantryPal">

        <!-- 📷 BILL SCAN -->
        <activity
            android:name=".ui.BillScanActivity"
            android:exported="false" />

        <!-- 📦 OPTIONS -->
        <activity
            android:name=".ui.AddItemOptionsActivity"
            android:exported="false" />

        <!-- 🚀 SPLASH -->
        <activity
            android:name=".SplashActivity"
            android:exported="true"
            android:theme="@style/Theme.PantryPal.Splash">

            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>

        </activity>

        <!-- 🔐 LOGIN -->
        <activity
            android:name=".LoginActivity"
            android:exported="true" />

        <!-- 🏠 MAIN -->
        <activity
            android:name=".MainActivity"
            android:exported="true" />

        <!-- 👤 PROFILE -->
        <activity
            android:name=".ui.profile.EditProfileActivity"
            android:exported="false" />

        <!-- 🧾 ADD ITEM -->
        <activity
            android:name=".AddItemActivity"
            android:exported="false" />

        <!-- 📋 PANTRY -->
        <activity
            android:name=".PantryListActivity"
            android:exported="false" />

        <!-- 🤖 RECIPES -->
        <activity
            android:name=".RecipeSuggestionActivity"
            android:exported="false" />

        <activity
            android:name=".SavedRecipesActivity"
            android:exported="false" />

        <activity
            android:name=".RecipeDetailActivity"
            android:exported="false" />

    </application>

</manifest>